
.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*.swp
*~

*.bak
*.tmp
*.old
.vscode/
.idea/
*.code-workspace

__pycache__/
*.py[cod]
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

.env
.env.*

*.log
*.out
*.exe
*.sh~

*.psd
*.ai
*.xcf
*.blend

*_original
*.exif
robots.txt
CNAME
private_notes.txt
credentials.json
apikey.txt

